@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.offer-banner{
background-color: #3d2352;
color: #eecfef;
position: fixed;
top: 0;
width: 100%;
text-align: center;
padding: 5px;
}

header {
  color: #3d2352;
  background-color: #eecfef;
  text-align: center;
  padding: 20px;
  margin-top: 21.6px;
}

header h1{
    font-size: xx-large;
    letter-spacing: 1.4px;
}

header a {
  text-align: right;
  color: #3d2352;
  margin: 10px;
  font-weight: 500;
  text-decoration: none;
}

.page-links{
    margin-top: 14px;
    text-decoration-line: underline;
}

body{
    background-color: #fbf7f2;
  color: #1C1C1C;
}

.blog-intro{
    margin: 40px;
}

.img-container {
  text-align: center;
}

.img-container > section {
  display: inline-block;
  width: 300px;
  height: 250px;
  margin: 20px;
}

h2{
    /* text-decoration-line: underline;
    text-decoration-color: darkorange;
    text-decoration-style: wavy;
    text-decoration-thickness: 9px; */
    margin: 15px;
}


section > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 30px;
}

.feedback-section{
height: 600px;
}

footer{
    margin-top: 40px;
    background-color: #eecfef;
    padding: 40px;
}
