@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: rgb(254, 232, 232);
}


header{
     /* border: red 2px solid; */
font-family: "Open Sans", sans-serif;
font-weight: 500;
text-align:center;
background-color: pink;
border: rgb(250, 162, 177) 2px solid;
margin-bottom: 0px;
padding: 18px;
}


header>h1{
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: inherit;
    color: rgb(3, 91, 3);

}

header>a{
    text-decoration: none;
margin: 10px;
    color:rgb(2, 105, 2);
    background-color: inherit;
}

section{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 25px;
    border: blue(1, 47, 1) 2px solid;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin: 50px;
}

section>img{
     border: red 2px solid;
    width: inherit;
    height: inherit;
object-fit:cover;
border-radius: inherit;
}

footer{
font-family: "Open Sans", sans-serif;
font-weight: 700;
text-align:center;
}

footer>p{
padding: 25px;
color: green;
font-weight: bold;
}
